

.container {
    max-width: 900px;
  }

  .containerBod{
    max-width: 100%;
  }
.sameLine {
    display: flex;
}

.container1 {
    width: 50%; 
    border: 2px solid #000;
    padding: 20px; 
}

.containercolor{
  background-color: black;
}

.bg-color{
  background-color: white;
}

.textColor{
  color: white;
}


img {
  max-width: 100%; 
  max-height: 100%; 
}

li:hover {
  background-color: #e06666;
  border-radius: 10px;
}

footer .list-unstyled li {
  background-color: transparent;
  border-radius: 0;
}
